:root {
	--header-bg: #305CDE;
	--header-fg: #e4e9f9;
	--bg: #abbffa;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: var(); */
}

body { margin: 0; }

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: var(--header-bg);
	color: var(--header-fg);
}
main {
	background-color: #59B5F7;
	flex-grow: 1;
	color: var(--header-fg);
}

.framed {
	/* em och rem beror på font-size */
	border: 2px solid var(--header-bg);
	border-radius: 0.3em;
	padding: 0.2em;
	margin: 0.5em;
	box-shadow: 0 0 0.4em var(--header-bg);
}

.row {
	display: flex;
	gap: 1em;
	justify-content: center;
}